* {
    box-sizing: border-box;
    font-family: Arial;
    font-size: 0.9rem;
    }
html {
    height: 100vh;
}
   
.icon {
    width: 16px;
    height: 16px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    top: 0;
    width:100vw;
    height: 7vh;
    text-decoration: none;
}
.navbar-left ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    
}
.navbar-right ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    
}
.navbar-left ul li {
    padding: 10px 10px 10px 0px;
    text-decoration: none
}
.navbar-right ul li {
    padding: 10px 25px 10px 10px;
    
}
.navbar-right ul li a {
    text-decoration: none;
    color: black;
}
.navbar-left ul li a {
    text-decoration: none;
    color: black;
}
.login-button {
	background-color:#1d8ccc;
	border-radius:2px;
	border:1px solid #168edfe8;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding: 8px 12px;
    text-decoration:none;
    color: white !important;
}

#apps-icon {
    width: 20px;
    height: 20px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height: 84vh;
    
}

.logo-section {
padding-top: 15vh;
text-align: center;
padding-bottom: 2rem;
}
input{
    width: 40%;
    height: 40px;
    border:1px solid #dadce0;
}
#search-text{
    height: 3.2rem;
    width: 40rem;
    border: 1px solid rgba(184, 178, 178, 0.527);
    border-radius: 50px;
    padding-left: 48px; 
    font-size: 1.2em;     
}
#search-text:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.search-wrapper{
    
    position: relative;
    padding-bottom: 3vh;
}
#mic-icon{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 22px;
    height: auto;
 
    
}
#mag-icon{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 15px;
    height: auto;
    opacity: 0.5;
}

    .button {
        box-sizing: unset;
        background-color:#ebe8e8da;
        border-radius:3px;
        border-style: none;
        display:inline-block;
        cursor:pointer;
        color:#696868;
        font-family:Arial;
        font-size: 15px;
        font-weight: 300;
        padding:8px 23px;
        text-decoration:none;
        margin-right: 1.5rem;
    }
    .button:hover {
        color: black;
        border: 1px solid rgb(182, 182, 182);
        padding:7px 22px;
    }
    
   footer{
        bottom:0;
        height:6vh;
        background-color: thistle;
        width: 100vw;
    
    }
   